{% extends 'base.html.twig' %}

{% block body %}
    <!-- banner -->
    <div class="banner">
        <div class="container">
            {% include 'default/header.html.twig' %}
            <div class="banner-info">
                <ul>
                    <li class="active"><a href="{{ url('homepage') }}">Главная</a></li>
                    <li><a href="//catalog.handmug.ru" class="hvr-radial-out">Каталог</a></li>
                    <li><a href="{{ url('order') }}" class="hvr-radial-out" style="background: rgba(249, 132, 229, 0.7)">Заказать</a></li>
                    <li><a href="#gallery" class="scroll hvr-radial-out">Галерея</a></li>
                    <li><a href="#mail" class="scroll hvr-radial-out">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <div class="about">
        <div class="col-md-6 about-left">
            <h3>Солнечные подарки<span>Кружки ручной работы от 300 руб.</span></h3>
            <i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i>
            <p>
                Подарки ручной работы, сделанные с душой.<br>
                <a href="//catalog.handmug.ru/shkatulki">Милые шкатулки "Мамины сокровища".</a><br>
                <a href="//catalog.handmug.ru/kruzhki">Чудесные кружки</a>, ложки, брелки из полимерной глины.
            </p>
        </div>
        <div class="col-md-6 about-right">
            <div class="content-item">

                <div class="overlay"></div>

                <div class="corner-overlay-content">Инфо</div>

                <div class="overlay-content">
                    <h2>Декоративные кружки</h2>
                    <p>Изготовление декоративных кружек из полимерной глины, которые раскрасят даже самый пасмурный день, поднимут настроение и станут отличным подарком на любой праздник.
                        Не упустите уникальную возможность сделать приятное своим близким, знакомым или просто порадовать себя. Стоимость от 300р!
                        Декор выполнен из полимерной глины и приклеен на эпоксидный клей. Из кружечки можно пить, мыть её.
                        Не рекомендуется мыть в посудомоечной машине и с абразивными средствами, не желательно нагревать саму кружку в микроволновке.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!-- //about -->
    {#<!-- services -->
    <div class="services" id="services">
        <div class="container">
            <h3>Услуги</h3>
            <p class="qui"><span>Quis autem vel eum iure reprehenderit qui in ea voluptate.</span></p>
            <div class="services-grids">
                <div class="col-md-6 services-grid">

                    <div class="services-grid1">
                        <div class="col-md-8 services-grid-left">
                            <a href="{{ url('order') }}"  data-toggle="tooltip" data-placement="top" title="Узнать стоимость">
                                <h4>кружки с неведомым узором:)</h4>
                            </a>
                            <p>Itaque earum rerum hic tenetur a sapiente
                                delectus, ut aut reiciendis voluptatibus maiores alias consequatur
                                aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="col-md-4 services-grid-right">
                            <div class="services-grid-right-grid hvr-radial-out">
                                <span class="fa fa-coffee" aria-hidden="true" style="position: relative"></span>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="services-grid1">
                        <div class="col-md-8 services-grid-left">
                            <a href="{{ url('order') }}"  data-toggle="tooltip" data-placement="top" title="Узнать стоимость">
                                <h4>игрушки из цветов</h4>
                            </a>
                            <p>Itaque earum rerum hic tenetur a sapiente
                                delectus, ut aut reiciendis voluptatibus maiores alias consequatur
                                aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="col-md-4 services-grid-right">
                            <div class="services-grid-right-grid hvr-radial-out">
                                <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="col-md-6 services-grid">

                    <div class="services-grid1">
                        <div class="col-md-4 services-grid-right">
                            <div class="services-grid-right-grid hvr-radial-out">
                                <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-8 services-grid-left services-grid-left1">
                            <a href="{{ url('order') }}"  data-toggle="tooltip" data-placement="top" title="Узнать стоимость">
                                <h4>букеты из мягких игрушек</h4>
                            </a>
                            <p>Itaque earum rerum hic tenetur a sapiente
                                delectus, ut aut reiciendis voluptatibus maiores alias consequatur
                                aut perferendis doloribus asperiores repellat.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="services-grid1">
                        <div class="col-md-4 services-grid-right">
                            <div class="services-grid-right-grid hvr-radial-out">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-md-8 services-grid-left services-grid-left1">
                            <a href="{{ url('order') }}"  data-toggle="tooltip" data-placement="top" title="Узнать стоимость">
                                <h4>сувениры из полимерной глины</h4>
                            </a>
                            <p>Itaque earum rerum hic tenetur a sapiente
                                delectus, ut aut reiciendis voluptatibus maiores alias consequatur
                                aut perferendis doloribus asperiores repellat.</p>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //services -->#}
    <!-- gallery -->
    <div class="gallery" id="gallery">
        <div class="container">
            <h3>Галерея</h3>
            <p class="qui"><span>Примеры выполненных работ.</span></p>
            <div class="gallery-grids">
                <div class="col-md-6 gallery-grids-left">
                    <div class="gallery-grid">
                        <a href="{{ asset('images/port1/port01.jpg') }}" data-gallery="" title='Кружка "Пингвин"'>
                            <img src="{{ asset('images/port1/port01s.jpg') }}" alt="Кружка с аппликацией из полимерной глины Пингвин">
                        </a>
                    </div>
                    <div class="gallery-grids-left-sub">
                        <div class="col-md-6 gallery-grids-left-subl">
                            <div class="gallery-grid">
                                <a href="{{ asset('images/port1/port03.jpg') }}" data-gallery="" title='Шкатулка "Мамины сокровища"'>
                                    <img src="{{ asset('images/port1/port03s.jpg') }}" alt="Шкатулка Мамины сокровища">
                                </a>
                            </div>
                            <div class="gallery-grid gallery-grid-sub">
                                <div class="gallery-grid">
                                    <a href="{{ asset('images/port1/port02.jpg') }}" data-gallery="" title='Шкатулка "Мамины сокровища"'>
                                        <img src="{{ asset('images/port1/port02s.jpg') }}" alt="Шкатулка Мамины сокровища">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 gallery-grids-left-subr">
                            <div class="gallery-grid">
                                <a href="{{ asset('images/port1/port04.jpg') }}" data-gallery="" title='Шкатулка "Мамины сокровища"'>
                                    <img src="{{ asset('images/port1/port04s.jpg') }}" alt="Шкатулка Мамины сокровища">
                                </a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 gallery-grids-left">
                    <div class="col-md-6 gallery-grids-right">
                        <div class="gallery-grid">
                            <a href="{{ asset('images/port1/port17.jpg') }}" data-gallery="" title='Игрушка из цветов'>
                                <img src="{{ asset('images/port1/port17.jpg') }}" alt="Игрушка из цветов">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 gallery-grids-right">
                        <div class="gallery-grid">
                            <a href="{{ asset('images/port1/port16.jpg') }}" data-gallery="" title='Игрушка из цветов'>
                                <img src="{{ asset('images/port1/port16s.jpg') }}" alt="Игрушка из цветов">
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="gallery-grids-right1">
                        <div class="gallery-grid">
                            <a href="{{ asset('images/port1/port11.jpg') }}" data-gallery="" title='Именная кружка'>
                                <img src="{{ asset('images/port1/port11s.jpg') }}" alt="Кружка с аппликацией из полимерной глины Именная">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 gallery-grids-right">
                        <div class="gallery-grid">
                            <a href="{{ asset('images/port1/port15.jpg') }}" data-gallery="" title='Игрушка из цветов'>
                                <img src="{{ asset('images/port1/port15.jpg') }}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 gallery-grids-right">
                        <div class="gallery-grid">
                            <a href="{{ asset('images/port1/port13.jpg') }}" data-gallery="" title='Кружки с аппликацией из полимерной глины'>
                                <img src="{{ asset('images/port1/port13.jpg') }}" alt="Кружки с аппликацией из полимерной глины">
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!-- mail -->
    <div class="mail" id="mail">
        <div class="container">
            <h3>Контакты</h3>
            <p class="qui"><span>Свяжитесь с нами для получения дополнительной информации.</span></p>
            <div class="mail-grids">
                <div class="col-md-4 mail-grid-left">
                    <h4>Контактная информация</h4>
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>E-mail<a href="mailto:mail@handmug.ru">mail@handmug.ru</a></li>
                        <li><i class="glyphicon glyphicon-home" aria-hidden="true"></i>WhatsApp<span>+7 953 793 33 44</span></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Телефон<span>+7 953 793 33 44</span></li>
                        <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Время работы<span>Пн-Пт: 9:00 - 20:00 (МСК+4)</span></li>
                    </ul>
                </div>
                <div class="col-md-8 mail-grid-right">
                    <form action="{{ url('sendMail') }}" method="post" id="form-mail">
                        <h5>Имя *</h5>
                        <input type="text" name="name" required="">
                        <h6>Email *</h6>
                        <input type="email" name="email" required="">
                        <h6>Сообщение *</h6>
                        <textarea name="message"required=""></textarea>
                        <input type="submit" value="Отправить сообщение" id="send"><span id="success" style="margin-left: 10px"></span>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //mail -->

    <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <!--<a class="play-pause"></a>-->
        <ol class="indicator"></ol>
    </div>


{% endblock %}

{% block footernav %}
    <ul class="footer-nav">
        <li><a href="//catalog.handmug.ru">Каталог</a></li>
        <li><a href="{{ url('order') }}">Заказать</a></li>
        <li><a href="#gallery" class="scroll">Галерея</a></li>
        <li><a href="#mail" class="scroll">Контакты</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}
    <meta name="description" content="Кружки с апликацией из полимерной глины, Шкатулки Мамины сокровища, игрушки из цветов в Кемерово, Новосибирске">
    {#<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all">#}
    {#<link href="{{ asset('css/jquery.easy-gallery.css') }}" rel="stylesheet" type="text/css">#}
    <link href="{{ asset('css/blueimp-gallery.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    <!-- start-smoth-scrolling -->
    <script src="{{ asset('js/move-top.js') }}"></script>
    <script src="{{ asset('js/easing.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function() {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({ easingType: 'easeOutQuart' });

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- //here ends scrolling icon -->
    {#<script src="{{ asset('js/jquery.easy-gallery.js') }}"></script>#}
    {#<script>#}
        {#//init Gallery#}
        {#$('.gallery').easyGallery();#}
    {#</script>#}
    <script src="{{ asset('js/jquery.blueimp-gallery.min.js') }}"></script>
    {#send message#}
    <script>
        $('#form-mail').submit(function(e){
            $.ajax({
                data: $(this).serialize(),
                beforeSend: function () {
                    $('#send').prop('disabled', true);
                },
                success: function (response) {
                    if (response.status == 1) {
                        $('#success').html('Ваше сообщение успешно отправлено.');
                    } else if (response.status == 0) {
                        $('#success').html(response.error);
                        $('#send').prop('disabled', false);
                    } else {
                        $('#success').html('Сообщение не было отправлено. Пожалуйста, попробуйте еще раз!');
                        $('#send').prop('disabled', false);
                    }
                },
                error: function (e) {
                    $('#success').html('Не удалось отправить сообщение. Пожалуйста, попробуйте позже!');
                    $('#send').prop('disabled', false);
                },
                complete: function (done) {
                    console.log('Finished');
                },
                type: 'POST',
                url: '{{ url('sendMail') }}',
            });
            e.preventDefault();
        });
    </script>
    {#//send message#}
{% endblock %}
