{% extends 'base.html.twig' %}

{% block body %}
    <!-- banner -->
    <div class="banner" style="background-image: url({{ asset('images/1-1.jpg') }}); min-height: 0px; padding-bottom: 32px"
         xmlns="http://www.w3.org/1999/html">
        <div class="container">
            {% include 'default/header.html.twig' %}
        </div>
    </div>
    <!-- //banner -->
    <div class="container">
        <ol class="breadcrumb no-border-radius" style="margin-bottom: 0px">
            <li><i class="fa fa-home" aria-hidden="true"></i> <a href="{{ url('homepage') }}">Главная</a></li>
            <li class="active">Заявка</li>
        </ol>
    </div>
    <!-- order -->
    <div class="mail" id="mail">
        <div class="container">
            <h3>Отправить заявку</h3>
            <p class="qui"><span>При заказе через сайт скидка <strong>5%</strong></span></p>
            <div class="mail-grids">
                <form id="form-order" class="form-horizontal">
                    {#name#}
                    <div class="form-group">
                        <label for="name" class="col-sm-4 control-label"><h4>Имя *</h4></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control no-border-radius" id="name" name="name" required>
                        </div>
                    </div>
                    {#contact#}
                    <div class="form-group">
                        <label for="contact" class="col-sm-4 control-label"><h4>Контактная информация *</h4></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control no-border-radius" id="contact" name="contact" placeholder="Телефон или E-mail, или WhatsApp, или другое" required>
                        </div>
                    </div>
                    {% if model|length > 0 %}
                        {# model #}
                        <div class="form-group">
                            <label for="model" class="col-sm-4 control-label"><h4>Модель</h4></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control no-border-radius" id="model" name="model" placeholder="Из каталога" value="{{ model }}">
                            </div>
                        </div>
                        {# //model #}
                    {% else %}
                        {# type #}
                        <div class="form-group">
                            <label for="type" class="col-sm-4 control-label"><h4>Вид изделия</h4></label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon no-border-radius">
                                            <input type="radio" id="type-1" name="type" value="Кружка с апликацией из полимерной глины">
                                        </span>
                                        <label class="form-control no-border-radius label-order" for="type-1">Кружка с апликацией из полимерной глины</label>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon no-border-radius">
                                            <input type="radio" id="type-2" name="type" value="Игрушка из цветов">
                                        </span>
                                        <label class="form-control no-border-radius label-order" for="type-2">Игрушка из цветов</label>
                                    </div>
                                </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon no-border-radius">
                                        <input type="radio" id="type-3" name="type" value="Шкатулка Мамины сокровища">
                                    </span>
                                    <label class="form-control no-border-radius label-order" for="type-3">Шкатулка Мамины сокровища</label>
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon no-border-radius">
                                        <input type="radio" id="type-4" name="type" value="Сувенир их полимерной глины">
                                    </span>
                                    <label class="form-control no-border-radius label-order" for="type-4">Сувенир из полимерной глины</label>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon no-border-radius">
                                        <input type="radio" id="type-5" name="type" value="Другое">
                                    </span>
                                    <input type="text" data-radio-id="type-5" class="input-radio form-control no-border-radius" value="Другое">
                                </div>
                            </div>
                        </div>
                        {# //type #}
                    {% endif %}
                    {#description#}
                    <div class="form-group">
                        <label for="description" class="col-sm-4 control-label"><h4>Описание</h4></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control no-border-radius" id="description" name="description">
                        </div>
                    </div>
                    {#submit#}
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button id="send" type="submit" class="btn btn-info no-border-radius" style="width: 100%">Отправить</button>
                        </div>
                        <div class="col-sm-4 text-center" id="success"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //order -->
{% endblock %}

{% block footernav %}
    <ul class="footer-nav">
        <li><a href="{{ url('homepage') }}">Главная</a></li>
        <li><a href="//catalog.handmug.ru">Каталог</a></li>
        <li><a href="{{ url('homepage') }}#gallery">Галерея</a></li>
        <li><a href="{{ url('homepage') }}#mail">Контакты</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}
    <meta name="description" content="Заказать Кружки с апликацией из полимерной глины, Шкатулки Мамины сокровища, игрушки из цветов в Кемерово, Новосибирске">
{% endblock %}

{% block javascripts %}
    <script>
        $('#form-order').submit(function(e){
            $.ajax({
                data: $(this).serialize(),
                beforeSend: function () {
                    $('#success').html('<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>');
                    $('#send').prop('disabled', true);
                },
                success: function (response) {
                    if (response.status == 1) {
                        $('#success').html('Ваша заявка успешно отправлена.');
                    } else if (response.status == 0) {
                        $('#success').html(response.error);
                        $('#send').prop('disabled', false);
                    } else {
                        $('#success').html('Заявка не была отправлена. Пожалуйста, попробуйте еще раз!');
                        $('#send').prop('disabled', false);
                    }
                },
                error: function (e) {
                    $('#success').html('Не удалось отправить Заявку. Пожалуйста, попробуйте позже!');
                    $('#send').prop('disabled', false);
                },
                complete: function (done) {
                    console.log('Finished');
                },
                type: 'POST',
                url: '{{ url('sendOrder') }}',
            });
            e.preventDefault();
        });

        $('.input-radio').change(function() {
            var those = $(this);
            var radioId = '#' + those.data('radio-id');
            $(radioId).val(those.val());
        });

        $('.input-radio').click(function() {
            var radioId = '#' + $(this).data('radio-id');
            $(radioId).prop("checked", true);
        });
    </script>
{% endblock %}
