<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('admin') }}">{{ app.user }} (IP {{ app.request.server.get('REMOTE_ADDR') }})</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li{% if (url('admin') == uri) %} class="active"{% endif %}>
                    <a href="{{ url('admin') }}">Просмотры сегодня</a>
                </li>
                <li{% if (url('yesterday') == uri) %} class="active"{% endif %}>
                    <a href="{{ url('yesterday') }}">Просмотры вчера</a>
                </li>
                <li{% if (url('adminOrder') == uri) %} class="active"{% endif %}>
                    <a href="{{ url('adminOrder') }}">Заявок <span class="badge">{{ countOrder }}</span></a>
                </li>
                <li{% if (url('adminMail') == uri) %} class="active"{% endif %}>
                    <a href="{{ url('adminMail') }}">Писем <span class="badge">{{ countMail }}</span></a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
