{% extends 'admin/base.html.twig' %}

{% block container %}
<table class="table">
    <caption>{{ caption }}</caption>
    <thead>
    <tr>
        <th>ID</th><th>Дата</th><th>Имя</th><th>Контакт</th><th>Тип</th><th>Описание</th><th>IP</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.time|date("H:i:s") }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.contact }}</td>
            <td>{{ order.type }}</td>
            {% if order.description|length > 20 %}
                <td title="{{ order.description }}">{{ order.description[:17] }}...</td>
            {% else %}
                <td>{{ order.description }}</td>
            {% endif %}
            <td>{{ order.ip }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
